<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    @section Styles{
    
    }

</head>
<body>
    <div class="example3">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://disputebills.com">
                        <img src="https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
                    </a>
                </div>
                <div id="navbar3" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Начало</a></li>
                        <li><a href="#">Анцузи</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">За нас</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>

    @RenderBody();

    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/footer.css" rel="stylesheet" />
    <!--footer start from here-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-col">
                    <div class="logofooter"> Logo</div>
                    <p><i class="fa fa-map-pin"></i> Улица чучулига 39, Хасково, България</p>
                    <p><i class="fa fa-phone"></i> +359 879 500 641</p>
                    <p><i class="fa fa-envelope"></i> krasibeck70@gmail.com</p>

                </div>
                @*<div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">GENERAL LINKS</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Career</a></li>
                        <li><a href="#"> Privacy Policy</a></li>
                    </ul>
                </div>*@
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 footer-col right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9985.049214186614!2d25.54790327796168!3d41.92354872260749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ad50b9c7d63607%3A0x2b5a425cf24ccf0e!2z0YPQuy4g4oCe0KfRg9GH0YPQu9C40LPQsOKAnCAzOSwgNjMwMiDQpdCw0YHQutC-0LLQvg!5e0!3m2!1sbg!2sbg!4v1499247045345" width="550" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </footer>
    <!--footer start from here-->
    <div class="copyright">
        <div class="container">
            <div class="col-md-6 col-md-offset-4">
                <p>© @DateTime.Now.Year - All Rights with Krasimir Rusev Web Developer</p>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
